/*------------------------------------------------------------------
 [13. Media Query]
 */
@media (max-width: 992px) {

	ul.timeline-vert:before {
		left: 40px !important;
	}

	ul.timeline-vert > li > .timeline-panel {
		width: calc(100% - 90px) !important;
		width: -moz-calc(100% - 90px) !important;
		width: -webkit-calc(100% - 90px) !important;
	}

	ul.timeline-vert > li > .timeline-badge {
		left: 15px !important;
		margin-left: 0 !important;
		top: 16px !important;
	}

	ul.timeline-vert > li > .timeline-panel {
		float: right !important;
	}

	ul.timeline-vert > li > .timeline-panel:before {
		border-left-width: 0 !important;
		border-right-width: 15px !important;
		left: -15px !important;
		right: auto !important;
	}

	ul.timeline-vert > li > .timeline-panel:after {
		border-left-width: 0 !important;
		border-right-width: 14px !important;
		left: -14px !important;
		right: auto !important;
	}
}

@media (max-width: 400px) {

	ul.timeline-vert > li > .timeline-panel {
		width: 100% !important;
	}

	#work .timeline-vert .timeline-badge, #work .timeline-vert:before {
		display: none;
	}

	#work .timeline-vert .timeline-panel:before {
		border-color: transparent !important;
	}
}

/* Vertical Timeline */
#work > div > div .btn-lgr-str {
	margin-right: 0 !important;
}
#work .timeline-vert {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}
#work .timeline-vert:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 2px;
	opacity: .5;
	left: 50%;
	margin-left: -0.5px;
}
#work .timeline-vert > li {
	margin-bottom: 20px;
	position: relative;
}
#work .timeline-vert > li:before, #work .timeline-vert > li:after {
	content: " ";
	display: table;
}
#work .timeline-vert > li:after {
	clear: both;
}
#work .timeline-vert > li .timeline-photo {
	min-height: 120px;
}
#work .timeline-vert > li .timeline-time {
	padding: 6px 14px;
	position: absolute;
	z-index: 9;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#work .timeline-vert > li:hover .timeline-photo {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
}
#work .timeline-vert li.timeline-inverted > .timeline-panel {
	float: right;
}
#work .timeline-vert li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
#work .timeline-vert li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
#work .timeline-vert .timeline-badge {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#work .timeline-vert .timeline-badge i:before {
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	font-size: 22px;
	left: -9px;
	top: -2px;
	position: relative;
}
#work .timeline-vert .timeline-panel {
	width: 46%;
	float: left;
	border-radius: 0;
	padding: 30px;
	position: relative;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#work .timeline-vert .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	content: " ";
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#work .timeline-vert .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	content: " ";
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#work .timeline-vert .timeline-panel h3 {
	line-height: 1.3em;
}
#work .timeline-vert .timeline-panel h6 {
	padding-left: 14px;
	margin-bottom: 12px;
}
#work .timeline-vert .timeline-panel h3, #work .timeline-vert .timeline-panel h6 {
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.timeline-dark:before {
	background-color: #c1c1c1;
}
.timeline-dark .timeline-badge {
	color: #404040;
	background: #737373;
}
.timeline-dark .timeline-badge i:before {
	color: #404040;
}
.timeline-dark .timeline-panel {
	background: #575757;
}
.timeline-dark .timeline-panel:before {
	border-left: 15px solid #575757;
	border-right: 0 solid #575757;
}
.timeline-dark .timeline-panel:after {
	border-left: 14px solid #575757;
	border-right: 0 solid #575757;
}
.timeline-dark .timeline-panel h6 {
	border-left: 1px solid #e74c3c;
}
.timeline-dark li .timeline-time {
	background-color: #737373;
}
.timeline-dark li .timeline-time i {
	color: #f2f2f2;
}
.timeline-dark li:hover .timeline-badge {
	background: #e74c3c !important;
}
.timeline-dark li:hover .timeline-badge i:before {
	color: #f2f2f2;
}
.timeline-dark li:hover .timeline-time {
	background-color: #e74c3c;
}
.timeline-dark li:hover .timeline-panel {
	background: #646464;
}
.timeline-dark li:hover .timeline-panel:before {
	border-top: 15px solid transparent;
	border-left: 15px solid #646464;
	border-right: 0 solid #646464;
}
.timeline-dark li:hover .timeline-panel:after {
	border-top: 14px solid transparent;
	border-left: 14px solid #646464;
	border-right: 0 solid #646464;
}

.timeline-light:before {
	background-color: #dadada;
}
.timeline-light .timeline-badge {
	color: #404040;
	background: #c1c1c1;
	border: 2px solid #fff;
}
.timeline-light .timeline-badge i:before {
	color: #fff;
}
.timeline-light .timeline-panel {
	background: #fff;
	border: 1px solid #c1c1c1;
}
.timeline-light .timeline-panel:before {
	border-left: 15px solid #c1c1c1;
	border-right: 0 solid #c1c1c1;
}
.timeline-light .timeline-panel:after {
	border-left: 14px solid #c1c1c1;
	border-right: 0 solid #c1c1c1;
}
.timeline-light .timeline-panel h6 {
	border-left: 1px solid #a7a7a7;
}
.timeline-light li .timeline-time {
	background-color: #9b9b9b;
}
.timeline-light li .timeline-time i {
	color: #f2f2f2;
}
.timeline-light li:hover .timeline-badge {
	background: #5d5d5d;
}
.timeline-light li:hover .timeline-badge i:before {
	color: #fff;
}
.timeline-light li:hover .timeline-time {
	background-color: #5d5d5d;
	color: #fff;
}
.timeline-light li:hover .timeline-panel {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.timeline-light li:hover .timeline-panel:before {
	border-top: 15px solid transparent;
	border-left: 15px solid #5d5d5d;
	border-right: 0 solid #5d5d5d;
}
.timeline-light li:hover .timeline-panel:after {
	border-top: 14px solid transparent;
	border-left: 14px solid #5d5d5d;
	border-right: 0 solid #5d5d5d;
}
.timeline-light li:hover h3, .timeline-light li:hover h6 {
	color: #e74c3c !important;
}
.timeline-light li:hover h6 {
	border-color: #e74c3c;
}

.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline-body > p, .timeline-body > ul {
	margin-bottom: 0;
}

.timeline-body > p + p {
	margin-top: 5px;
}

.timeline-bg01, .timeline-bg01-01, .timeline-bg02, .timeline-bg02-01, .timeline-bg03, .timeline-bg03-01, .timeline-bg04, .timeline-bg04-01 {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(../images/grayscale.svg#greyscale);
	/* Firefox 4+ */
	filter: gray;
	/* IE 6-9 */
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.timeline-dmc-hybris {
	background: url("../images/work/dmc-hybris.png");
	background-position: center;
	background-size: cover;
}

.timeline-yum-websphere {
	background: url("../images/work/yum-websphere.png");
	background-position: center;
	background-size: cover;
}

.timeline-university-louisville {
	background: url("../images/work/university-louisville.png");
	background-position: center;
	background-size: cover;
}

.timeline-ulla-popken {
	background: url("../images/work/ulla-popken.jpg");
	background-position: center;
	background-size: cover;
}

.timeline-kaiser-kraft {
	background: url("../images/work/kaiser-kraft.jpg");
	background-position: center;
	background-size: cover;
}

.timeline-conrad {
	background: url("../images/work/conrad.jpg");
	background-position: center;
	background-size: cover;
}

.timeline-adler {
	background: url("../images/work/adler.jpg");
	background-position: center;
	background-size: cover;
}

